nav {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 100;
    position: relative;
    padding: 4px; 
}

nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    cursor: pointer;
}

nav div span {
    color: #FAFF00;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 36px;
    font-size: 20px;
}

nav ul li {
    cursor: pointer;
}

.hamburgerMenuIcon {
    display: none;
}

.hidden {
    display: none;
}

.openNav {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (max-width: 1800px) {
    nav {
        margin: 0px 16px;
    } 
}

@media screen and (max-width: 1466px) {
    nav ul {
        display: none;
    }

    .hamburgerMenuIcon {
        display: flex;
        justify-content: flex-end; 
        align-items: center;
        position: absolute;
        top: 6px;
        right: 24px;
    }
}