.App {
    text-align: center;
    margin: 0 512px;
}

@media screen and (max-width: 1868px) {
    .App {
        margin: 0 256px;
    }
}

@media screen and (max-width: 1024px) {
    .App {
        margin: 0 0px;
    }
}