body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  overflow-x: hidden; 
}

.App {
    text-align: center;
    margin: 0 512px;
}

@media screen and (max-width: 1468px) {
    .App {
        margin: 0px 48px;
    }
}

@media screen and (max-width: 1024px) {
    .App {
        margin: 0px 0px 0px 8px;
    }
}